@import '../../themes/_variable.scss' ;
@import '../../themes/_basic.scss' ;

.password-reset-form{
    padding-top:26px;
}
.smi-content-img {
    height: 90px;
    width: 90px;
    margin: 100px auto 20px;
    background: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    img {
        margin: 15px 18px 19px;
    }
}

.smi-content-title {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    width: 165px;
    height: 10px;
    margin: 0 auto 32px;
}

.smi-content-user 
,.smi-content-pwd
{
    margin-bottom: 14px !important;
}

.smi-content-user,
.smi-content-pwd {
    position: relative;
    text-align: center;
    width: 280px;
    margin: auto;
    .icon-touxiang,
    .icon-mima1 {
        position: absolute;
        top: 11px;
        left: 20px;
        color: #E2E4E5;
        width: 20px;
        height: 20px;
        font-size: 19px;
    }
    input {
        border: 1px solid #CBCCCB;
        border-radius: 4px;
        width: 228px;
        height: 42px;
        padding-left:10px;
        font-size: 16px;
        // color: #e2e4e5;
        letter-spacing: 0;
    }
    input:focus{
        border-color:$c_theme_main;

    }
    input::-webkit-input-placeholder {
        color: #e2e4e5;
    }
    /* 使用webkit内核的浏览器 */
    input:-moz-placeholder {
        color: #e2e4e5;
    }
    /* Firefox版本4-18 */
    input::-moz-placeholder {
        color: #e2e4e5;
    }
    /* Firefox版本19+ */
    input:-ms-input-placeholder {
        color: #e2e4e5;
    }
    /* IE浏览器 */
}

.smi-content-login {
    background: #ff6300;
    border: 1px solid #e2e4e5;
    border-radius: 4px;
    width: 228px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin: 29px auto 0;
    span {
        width: 37px;
        height: 18;
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 0;
        text-align: left;
    }
}